sub_optimal.txt
/old_first_working_sessions
/app/dist
/settings.json
/app/main.spec
/prev_msgs
/app/installer_script.iss
/app/TokInstaller.exe
/app/venv
/app/build
/app/prev_msgs
/other_prev_msgs
/app/tok.zip
/app/tok.ico
/app/nltk_data
/docker/nltk_data
/app/tiktoken_cache
/docker/tiktoken_cache