sub_optimal.txt
/old_first_working_sessions
/tok/dist
/settings.json
/tok/main.spec
/prev_msgs
/tok/installer_script.iss
/tok/TokInstaller.exe
/tok/venv
/tok/web/build
/tok/build
/tok/prev_msgs
/tok/prompts.json
/tok/tiktoken_cache
/other_prev_msgs