flask-swagger-ui==4.11.1
flask==3.0.0
flask_cors==4.0.0
waitress==3.0.0
tqdm==4.66.4
llama-index-vector-stores-neo4jvector==0.1.4
llama-index-llms-ollama==0.2.2
llama-index-embeddings-ollama==0.2.0
llama-index-readers-file==0.1.20
llama-index-core==0.10.34